# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          21,    # Current Java LTS
        ]
        # and run on both Linux and Windows
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: check changelog
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            DIFF_TARGET="origin/${{ github.base_ref }}"
          else
            DIFF_TARGET="HEAD~1"
          fi
          
          if git diff --name-only $DIFF_TARGET | grep -q "CHANGELOG.md"; then
            echo "CHANGELOG.md has been modified."
          else
            echo "Error: CHANGELOG.md was not modified."
            exit 1
          fi
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build (Linux/macOS)
        if: runner.os != 'Windows'
        run: ./gradlew build
      - name: build (Windows)
        if: runner.os == 'Windows'
        run: .\gradlew.bat build
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '21' }} # Only upload artifacts built from latest java on one OS
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
